.c-hero-card {
    background-color: white;
    box-shadow: 0 20px 40px $BrightBlueShadow;
    border-radius: 1.5625rem;
    width: 375px;   
    color: $DesaturatedBlue;
    text-align: center;

    @media (min-width: 480px) {
        width: 450px;
    }

    & section {
        padding: 0 2.8125rem;
    }

    & .o-title {
        text-align: center;
        color: $DarkBlue;
        font-size: 1.75rem;
    }

    & .o-btn.-primary {
        width: 100%;
        font-size: 0.875rem;
        margin: 2.5rem 0 1.875rem 0
    }
    
}