.c-price-widget {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: $VeryDesaturatedBlue;
    border-radius: 0.625rem;
    padding: 0.9375rem;

    & div {
        flex-grow: 1;
        padding: 0 1.25rem;
        text-align: left;
        line-height: normal;

        & p,
        & .o-title  {
            font-size: 0.875rem;
            margin: 0;
            
            @media (min-width: 480px) {
                font-size: 1rem;
            }
        }

        @media (min-width: 480px) {
            line-height: 1.75rem;
        }
    }

    

    & .o-title {
        text-align: left;
    }

    & .o-link {
        font-size: 0.8125rem;
        font-weight: 700;

        &:hover,
        &:focus {
            color: $BrightLightBlue;
            text-decoration: none;
        }

        @media (min-width: 480px) {
            font-size: 0.875rem;
        }
    }

    @media (min-width: 480px) {
        padding: 1.75rem 1.5625rem;
    }
}