.c-price-widget {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: $VeryDesaturatedBlue;
    border-radius: 0.625rem;
    padding: 1.6875rem 1.5625rem;

    & div {
        flex-grow: 1;
        padding: 0 1.25rem;
        text-align: left;
        line-height: 1.75rem;
    }

    & p,
    & .o-title  {
        margin: 0;
    }

    & .o-title {
        font-size: 1rem;
        text-align: left;
    }

    & .o-link {
        font-size: 0.875rem;
        font-weight: 700;
    }
}